@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
.banner{
    border-radius: 30px;
    margin: 50px;
    background-repeat: no-repeat;
}
 

@media (max-width: 600px) {
     
    
    .banner{
        width:auto;
    }
}