 .reg1{
    padding-left: 400px;
    padding-top: 40px;
 }
 .reg2{
    background-color: azure;
    width: 400px;
     height: 320px;
     border-radius: 30px;
 }
 .rega{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: 90% 10%;
    padding-top: 20px;
    padding-bottom: 10px;

 }
 .regab{
    color: black;
 }
 .regaa{
    font-size:30px;
    padding-left: 20px;
 }
 .regab{
    font-size: 20px;
 }
 .regb{
    padding-left: 20px;
 }
 .regbb{
    width: 350px;
    height: 40px;
    margin-top: 8px;
    border-radius: 10px;
    text-align: center;
    border-color: aqua;
 }
 .regbc{
    margin-top: 13px;
    width: 350px;
    border-radius: 10px;
    background-color: rgb(155, 244, 155);
 }
 .term{
    text-decoration: underline;
 }
 .term2{
    margin-top: 20px;
 }
 .regcb{
     width: 350px;
    height: 40px;
    margin-top: 8px;
    border-radius: 10px;
    text-align: center;
    border-color: aqua;
 }